BeautifulSoup==3.2.1
Cython==0.21.2
docutils==0.12
Kivy==1.9.2.dev0
Kivy-Garden==0.1.4
git+https://github.com/cruor99/KivyMD
nose==1.3.7
pdb==0.1
pexpect==4.0.1
plyer==1.2.4
ptyprocess==0.5
pushould-python==0.0.3
pygame==1.9.2a0
Pygments==2.1.3
python-gnupg==0.3.8
PyYAML==3.11
requests==2.10.0
six==1.10.0
socketIO-client==0.6.5
SQLAlchemy==1.0.12
websocket-client==0.37.0
